@model HotelBooking.Models.User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit User";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>

    <h4>Edit User</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditUser" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserId" />

                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" placeholder="Enter Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PasswordHash" class="control-label">Password</label>
                    <input asp-for="PasswordHash" class="form-control" type="password" placeholder="Enter Password" />
                    <span asp-validation-for="PasswordHash" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Role" class="control-label">Role</label>
                    <input asp-for="Role" class="form-control" placeholder="Enter Role" />
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" asp-for="IsActive" class="form-check-input" />
                    <label class="form-check-label" asp-for="IsActive">@Html.DisplayNameFor(model => model.IsActive)</label>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="User">Back to List</a>
    </div>

</body>
</html>
