@{
    ViewData["Title"] = "Payment Callback";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container">
    <h1 class="text-center">Payment Status</h1>

        <strong>@ViewBag.Message</strong>
    </div>

