    <!-- Footer Section Begin -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
<footer class="footer-section">
    <div class="container">
        <div class="footer-text">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ft-about">
                        <div class="logo logo-small">
                            <a href="#">
                                <img src="img/logo/logolala.jpg" alt="" style="width: 50px; height: auto;">
                            </a>
                        </div>
                        <p>Chúng tôi truyền cảm hứng và kết nối hàng triệu du khách qua 90 trang web địa phương.</p>
                        <div class="fa-social">
                            <a href="https://www.facebook.com/Lalahouse.homestayhanoi" target="_blank">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                           
                            <a href="https://www.tiktok.com/@@lalahouse_homestay_hanoi?_t=8rd8ROKJN1G&_r=1" target="_blank">
                                <i class="fa-brands fa-tiktok"></i>
                            </a>

                            <a href="https://www.instagram.com/lala.house.homestay?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
                                <i class="fa-brands fa-instagram"></i></a>
                          
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="ft-contact">
                        <h6>Liên hệ với chúng tôi</h6>
                        <ul>
                            <li>0888372003</li>
                            <li>lala.martketing@gmail.com</li>
                            <li>Số 2 ngõ 29 Mạc Thái Tổ, Yên Hoà, Cầu Giầy</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="ft-newslatter">
                        <h6>New latest</h6>
                        <p>Get the latest updates and offers.</p>
                        <form action="#" class="fn-form">
                            <input type="text" placeholder="Email">
                            <button type="submit"><i class="fa fa-send"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <ul>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Terms of use</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Environmental Policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <div class="co-text">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
<!-- Search model Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->